/* Fonts */
@font-face {
    font-family: 'Martian-Mono';
    src: url(../assets/fonts/Martian-Mono.ttf);
}

@font-face {
    font-family: 'Titania';
    src: url(../assets/fonts/Titania.ttf);
}

@font-face {
    font-family: 'VCR-OSD-Mono';
    src: url(../assets/fonts/VCR-OSD-Mono.ttf);
}

/* Variables */
:root {
    /* Colors */
    --purple: #6C67FF;
    --black: #161616;
    --white: #D7D7D7;
}

/* General */
p {
    font-family: 'Martian-Mono';
    font-size: 1rem;
    color: var(--black);
    line-height: 1.5;
}

h1 {
    font-family: 'Martian-Mono';
    font-size: 3rem;
    font-weight: 800;
    color: var(--black);
}

h2 {
    font-family: 'Martian-Mono';
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
}

img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    display: block;
    width: 100%;
    height: auto;
}

section:not(#hero) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Hero grid section */
#hero,
#content {
    display: grid;
    grid-template-columns: minmax(1vw, 15vw) 1fr minmax(1vw, 15vw);
    gap: 1px;
}

#hero {
    height: 100vh;
    grid-template-rows: auto auto 3fr;
    background-color: var(--white);
}

#content {
    grid-template-rows: 1fr;
    background-color: var(--black);
}

#hero>div:not(.name) {
    background-color: var(--black);
}

#hero>div:not(.name, .top, .main) {
    background: url(../assets/img/grid.png) var(--black);
    image-rendering: pixelated;
}

#content>div {
    background-color: var(--white);
}

#content>.side-l,
#content>.side-r {
    background: url(../assets/img/grid.png) var(--white);
    image-rendering: pixelated;
}

#hero .top-l,
#content .side-l {
    grid-area: 1 / 1 / 2 / 2;
}

#hero .top,
#content .main {
    grid-area: 1 / 2 / 2 / 3;
}

#hero .top-r,
#content .side-r {
    grid-area: 1 / 3 / 2 / 4;
}

#hero .name-l {
    grid-area: 2 / 1 / 3 / 2;
}

#hero .name {
    grid-area: 2 / 2 / 3 / 3;
}

#hero .name-r {
    grid-area: 2 / 3 / 3 / 4;
}

#hero .side-l {
    grid-area: 3 / 1 / 4 / 2;
}

#hero .main {
    grid-area: 3 / 2 / 4 / 3;
}

#hero .side-r {
    grid-area: 3 / 3 / 4 / 4;
}

#hero .name {
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .name img,
#hero .top img {
    max-width: 100%;
}

#hero .top img {
    opacity: 0;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio img {
    width: 50%;
}

.portfolio .portfolio-text {
    font-family: 'Titania';
    font-size: 7vw;
    color: var(--purple);
}

.main ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VCR-OSD-Mono';
    font-size: 1.5rem;
    color: var(--white);
    gap: 5vh;
}

@media (max-width: 800px) {
    .main ul {
        font-size: 2rem;
    }
}

.main ul li {
    cursor: pointer;
}

.main ul li:hover {
    background-color: var(--white);
    color: var(--black);
    text-shadow: var(--purple) 1px 1px;
}

/* Content section */
#content .main {
    gap: 80px;
}

@media (max-width: 800px) {

    #hero,
    #content {
        grid-template-columns: 20px 1fr 20px;
    }

    .main ul {
        font-size: 2rem;
    }
}

.content-header {
    display: flex;
    gap: 20px;
}

.header-container {
    width: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Martian-Mono';
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
    padding: 8px;
    box-shadow: 0 0 0 2px var(--white) inset;
    border: solid 2px var(--black);
}

.exp-container {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.exp img {
    height: 80px;
    width: auto;
    object-fit: contain;
}

.exp-label {
    font-family: 'Martian-Mono';
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    height: 20px;
}

.project-scroll {
    display: flex;
    gap: 20px;
    flex-direction: row;
    overflow-x: scroll;
}

.project-scroll::-webkit-scrollbar {
    display: none;
}

.project-card {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.project-info {
    padding: 20px;
    line-height: 1.5;
}

.project-info h2,
.project-info p {
    color: var(--white);
}

.project-info h2 {
    font-size: 1rem;
}

.project-info p {
    font-size: 0.8rem;
}