/* Fonts */
@font-face {
    font-family: 'Martian-Mono';
    src: url(../assets/fonts/Martian-Mono.ttf);
}

@font-face {
    font-family: 'Titania';
    src: url(../assets/fonts/Titania.ttf);
}

@font-face {
    font-family: 'VCR-OSD-Mono';
    src: url(../assets/fonts/VCR-OSD-Mono.ttf);
}

/* Variables */
:root {
    /* Colors */
    --purple: #6C67FF;
    --black: #161616;
    --white: #D7D7D7;
}

/* General */
html {
    scroll-behavior: smooth;
}

header,
main,
footer {
    display: contents;
}

p {
    font-family: 'Martian-Mono';
    font-size: 1rem;
    color: var(--black);
    line-height: 1.5;
}

h1 {
    font-family: 'Martian-Mono';
    font-size: 3rem;
    font-weight: 800;
    color: var(--black);
}

h2 {
    font-family: 'Martian-Mono';
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
}

a {
    color: var(--purple);
    font-weight: 700;
}

img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    display: block;
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

.content,
section:not(#hero) {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content .content-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*
body, a {
    cursor: none;
}

#custom-cursor {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    mix-blend-mode: difference;
    position: fixed;
    transform: translate(-5px, -5px);
    pointer-events: none;
    background-color: white;
    clip-path: polygon(20% 20%, 100% 50%, 65% 65%, 50% 100%);
    transition: background-color 0.3s ease;
    z-index: 1000;
}
*/
nav ul li a,
.project {
    cursor: pointer;
}

/* Hero grid section */
#hero,
#content {
    display: grid;
    grid-template-columns: minmax(1vw, 15vw) 1fr minmax(1vw, 15vw);
    gap: 1px;
}

#hero {
    height: 100vh;
    grid-template-rows: auto auto 3fr;
    background-color: var(--white);
}

#content {
    grid-template-rows: 1fr;
    background-color: var(--black);
}

#hero>div:not(.name) {
    background-color: var(--black);
}

#hero>div:not(.name, .top, .main) {
    background: url(../assets/img/grid.png) var(--black);
    image-rendering: pixelated;
}

#content>div {
    background-color: var(--white);
}

#content>.side-l,
#content>.side-r {
    background: url(../assets/img/grid.png) var(--white);
    image-rendering: pixelated;
}

#hero .top-l,
#content .side-l {
    grid-area: 1 / 1 / 2 / 2;
}

#hero .top,
#content .main {
    grid-area: 1 / 2 / 2 / 3;
}

#hero .top-r,
#content .side-r {
    grid-area: 1 / 3 / 2 / 4;
}

#hero .name-l {
    grid-area: 2 / 1 / 3 / 2;
}

#hero .name {
    grid-area: 2 / 2 / 3 / 3;
}

#hero .name-r {
    grid-area: 2 / 3 / 3 / 4;
}

#hero .side-l {
    grid-area: 3 / 1 / 4 / 2;
}

#hero .main {
    grid-area: 3 / 2 / 4 / 3;
}

#hero .side-r {
    grid-area: 3 / 3 / 4 / 4;
}

#hero .name {
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .name img,
#hero .top img {
    max-width: 100%;
    margin-bottom: -1px;
}

#hero .top img {
    opacity: 0;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio img {
    width: 50%;
}

.portfolio-text h1 {
    font-family: 'Titania';
    font-size: 7vw;
    color: var(--purple);
    font-weight: 400;
}

.portfolio-subtext {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.dotted-line {
    border: none;
    border-top: 3px dashed var(--white);
    flex: 1;
}

.portfolio-subtext p {
    font-family: 'VCR-OSD-Mono';
    font-size: 1rem;
    color: var(--white);
}

.main nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.main nav ul li a {
    font-family: 'VCR-OSD-Mono';
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

.main nav ul li a:hover {
    background-color: var(--white);
    color: var(--black);
    text-shadow: var(--purple) 1px 1px;
}

/* Content section */
#content .main {
    gap: 80px;
}

.name .mobile,
.top .mobile {
    display: none;
}

.content-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-container {
    width: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Martian-Mono';
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
    padding: 8px;
    box-shadow: 0 0 0 2px var(--white) inset;
    border: solid 2px var(--black);
}

.exp-container,
.socials {
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}

.exp,
.social-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.exp img,
.social-btn img {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.exp-label,
.social-btn .soc-label {
    font-family: 'Martian-Mono';
    font-size: .8rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    height: 20px;
}

.project-list {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--black);
}

article.project-container {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--black);
}

.project-container .expand-btn {
    width: 40px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.project-title-container {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.project-title-container .subtitle {
    font-size: 0.8rem;
}

.expand-btn img {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.project-details-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.project.expanded+.project-details-wrapper {
    max-height: 2000px;
    /* Adjust value based on content height */
}

.project.expanded .expand-btn img {
    transform: rotate(270deg);
}

.project-details {
    padding: 0 20px 20px 20px;
}

/* Slideshow */
.slideshow-container {
    position: relative;

}

.slide {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.prev,
.next {
    cursor: pointer;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    display: flex;
}

.next {
    justify-content: flex-end;
    right: 0;
}

.next img,
.prev img {
    width: 30px;
    height: 30px;
}

.prev img {
    transform: rotate(180deg);
}

.slide p {
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    font-size: .8rem;
}

.slide img,
.slide video {
    border-radius: 30px;
    border: 2px solid var(--black);
}

.slideshow-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-container {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
}

.dot.active {
    background-color: var(--purple);
}

.dot:hover:not(.active) {
    background-color: var(--purple);
    opacity: 0.5;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: circle;
}

.contact-details li {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.contact-details li div {
    display: flex;
    gap: 10px;
}

.contact-details li div img {
    width: 1.5rem;
    height: auto;
}

.contact-details li a p {
    overflow: hidden;
    color: var(--purple);
}

.socials {
    padding: 20px 0;
}

.socials a {
    text-decoration: none;
}

.social-btn img {
    transition: transform 0.3s ease;
}

.social-btn:hover>img {
    transform: scale(1.1);
}

@media (max-width: 800px) {

    #hero .name img,
    #hero .top img {
        margin: -0.5px 0 0 0;
    }

    #hero .name img:not(.mobile),
    #hero .top img:not(.mobile) {
        display: none;
    }

    .name .mobile,
    .top .mobile {
        display: block;
    }

    .portfolio {
        display: none;
    }

    #hero,
    #content {
        grid-template-columns: 20px 1fr 20px;
    }

    .main ul {
        font-size: 2rem;
    }

    .content-header h1 {
        font-size: 2rem;
    }

    .project-title-container h2 {
        font-size: 1.2rem;
    }

    .exp img,
    .social-btn img {
        height: 50px;
    }
}