@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #e7e7e7;
  --black: #161616;
}

@font-face {
  font-family: "Mono Regular";
  src: url("../fonts/Mono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mono Bold";
  src: url("../fonts/Mono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Mono Light";
  src: url("../fonts/Mono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "DMMono Regular";
  src: url("../fonts/DMMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DMMono Light";
  src: url("../fonts/DMMono-Light.ttf") format("truetype");
}

html,
body {
  font-family: "DMMono Light", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--white);
}

body {
  overflow-y: scroll;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mono Bold", sans-serif;
  mix-blend-mode: difference;
}

p {
  mix-blend-mode: difference;
  font-family: "DMMono Light", sans-serif;
  line-height: normal;
}

#sidebar {
  max-width: 150px;
  min-width: 50px;
  width: 8vw;
  border-right: var(--white) 4px solid;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  transition:
    top 0.5s,
    bottom 0.5s;
}

#logo {
  width: -webkit-fill-available;
  max-height: 300px;
}

header {
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
}

.nav-btn {
  mix-blend-mode: difference;
  line-height: normal;
  width: min-content;
  font-family: "Mono Regular", sans-serif;
}
