@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #e7e7e7;
  --black: #161616;
}

@font-face {
  font-family: "Mono Regular";
  src: url("../fonts/Mono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Mono Bold";
  src: url("../fonts/Mono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Mono Light";
  src: url("../fonts/Mono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "DMMono Regular";
  src: url("../fonts/DMMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DMMono Light";
  src: url("../fonts/DMMono-Light.ttf") format("truetype");
}

html,
body {
  font-family: "DMMono Light", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--black);
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mono Bold", sans-serif;
  mix-blend-mode: difference;
  color: var(--white);
}

p {
  mix-blend-mode: difference;
  color: var(--white);
  font-family: "Mono Regular", sans-serif;
  line-height: normal;
}

#app {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

aside {
  max-width: 150px;
  min-width: 50px;
  width: 10%;
  border-right: var(--white) 4px solid;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  transition:
    top 0.5s,
    bottom 0.5s;
}

#logo {
  width: -webkit-fill-available;
  max-height: 300px;
}

nav {
  font-size: 4rem;
}

.nav-btn {
  cursor: pointer;
  width: min-content;
}
